﻿body {
    font-family: sans-serif, Arial, Helvetica, Verdana;
}

h3 {
    padding: 5px 5px;
    margin: 5px 5px !important;
    text-align: center;
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.form-container {	
	float:left;
	width: 100%;
}
/* Default Page Styles */
.grid-cell {
    font-size: 26px;
    margin-bottom: 10px;
}

.odds-cell {
    width: 40px;
    margin: 2px;
    -webkit-border-radius:0; 
    border-radius:0;
	padding: 0;
}
/* iPhone CSS */
@media screen and (max-device-width: 480px){
  /* iPhone only CSS here */
  .odds-cell {
    text-indent: -3px;
  }
}
.odds-cell-duo {
    float: left;
}
.date-picker{
    font-size: 12pt;
    width: 110px;
}
.date-label{
    margin-right: 10px;
    font-size: 12pt;
}
.percentage-cell {
	margin-top: 10px;
    width: 100%;
}
.calculator-row {
    margin-top:15px;
}
.calculator {
    max-width: 235px;
    min-width: 200px;
    border-style: double;
    margin: 5px 10px 10px 0px;
    padding: 5px;
    font-size: 24px;
}
.races-header{
	text-decoration: underline;
}
.gly {
	float:right;
	margin-right: 20px;
	margin-top: 5px;
}
.gly:hover{
	cursor:pointer;
}
.calculator label {
	width: 100px;
	float: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculate-btn {
    width: 100%;
}
.upcoming-races-container{  
    max-width: 400px;
    min-width: 400px;
    font-size: 20px;
}
.streams-row {
    padding: 15px;
}
.streams-column {
    border-style: double;
    padding: 5px;
}
.stream-btn {
	min-width: 100px;
	width: 100%;
	margin: 0px 0px 5px 5px !important;
}

.tracks-rpt {
	float: left;
    border-style: double;
	margin-top: 5px;
}

.lbl-track-name
{
	width: 180px;
	padding: 8px;
    border-right: dotted;
	float: left;
}

.lbl-race{
	margin-top: 5px;
	padding: 5px;
	float: left;
}

.ddl-race{	
	padding: 5px 0px 5px 0px;
	margin-top: 5px;
	float: left;
    font-size: 16px;
    width: 50px;
}
.edit-btn {
	margin: 5px;
}
/* Login page styles */

.loginClass label {
    float: left;
    margin-right: 15px;
    padding-top: 5px;
    text-align: right;
    font-weight: bold;
    display: block;
}
.login-header{
    margin-bottom: 10px;
}
.login-btn {
    background-color: #4CAF50;
    width: 19%;
    font-size: 20px;
}

.decrypt-btn {
    background-color: #FF0033;
    width: 19%;
    font-size: 20px;
}

.error-label {
    display: block;
    color: #FF0033;
    float: left;
}

/* Edit Fixed Odds styles */
.tote-reserve-class {
    font-weight: bold;
    color: seagreen;
    font-size: 11px;
}
.edit-fixedodds .grid-cell {
   font-size: 16px;
	width: 30px;
}
.fixed-odds-buttons
{
	 text-align: center;
}
.save-btn
{
	margin-top: 5px;
	float: left;
}
.refresh-btn
{
	margin-top: 5px;
	float: right;
}
.done-btn
{
	margin-top: 5px;
	float: none;
	margin-left: auto !important;
	margin-right: auto !important;
}
.header-info .refresh {
	background-color: #befca1;
	padding: 10px;
	display: inline-block;
	margin-bottom: 5px;
    margin-left: 15px;	
}
.race-changer{
	margin-top: -15px;
    margin-bottom: -15px;
}
.race-info {
    margin-bottom: 5px;	
}
.race-info .info-container {
    float: left;
    margin-right: 5px;
    padding: 5px;
    border: solid 1px #000;
}

.runners-header-row{
	text-decoration: underline;
}
.runners-header-row th{
	padding: 5px;
}
.runners-footer-row
{
	background-color: #6699CC;
    color: White;
    text-align: right;
}
.check-lock-fp{
	width: 100%;
	margin: 0px;
}
.check-lock-fp input[type=checkbox] {
    -webkit-appearance:none;
    width:50px;
    height:25px;
	margin-left:5px;
	margin-right:5px;
    background: White;
	text-align: center;
	font-weight: bold;
    border-radius:5px;
    border:2px solid #555;
}
.check-lock-fp input[type=checkbox]:checked{
    background: #befca1;
}
.check-lock-fp input[type=checkbox]:checked:before{
	content: "\2713";
	position: absolute;
}
.tote-live-odds {
    text-decoration: none;
}
.tote-live-odds-strike {
    text-decoration: line-through;
}